<ul class='nav nav-pills oz-cities'>
  <li class='active'><a href='http://оз2.рф'>Орехово-Зуево</a></li>
  <li><a href='http://воскресенск2.рф'>Воскресенск</a></li>
  <li><a href='http://ногинск2.рф'>Ногинск</a></li>
  <li><a href='http://жук2.рф'>Жуковский</a></li>
  <li><a href='http://красногорск2.рф'>Красногорск</a></li>
  <li><a href='http://железнодорожный2.рф'>Железнодорожный</a></li>
  <li><a href='http://одинцово2.рф '>Одинцово</a></li>
  <li><a href='http://коломна2.рф '>Коломна</a></li>
  <li><a href='http://электросталь2.рф'>Электросталь</a></li>
  <li><a href='http://люберцы2.рф '>Люберцы</a></li>
  <li><a href='http://химки2.рф'>Химки</a></li>
  <li><a href='http://балашиха2.рф'>Балашиха</a></li>
</ul>
